@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drop {
  0% {
    transform: translateY(var(--drop-from, -400px));
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
