@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drop {
  from {
    transform: translateY(var(--drop-from));
  }
  to {
    transform: translateY(0);
  }
}

.animate-drop {
  animation: drop 0.45s ease-in;
}

